<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Netresearch_Livetranslator>
            <version>0.1.0</version>
        </Netresearch_Livetranslator>
    </modules>
    <global>
        <blocks>
            <livetranslator>
                <class>Netresearch_Livetranslator_Block</class> 
            </livetranslator>
        </blocks>
        <helpers>
            <livetranslator>
                <class>Netresearch_Livetranslator_Helper</class> 
            </livetranslator>
        </helpers>
        <models>
            <livetranslator>
                <class>Netresearch_Livetranslator_Model</class> 
            </livetranslator>
            <core>
                <rewrite>
                    <translate_inline>Netresearch_Livetranslator_Model_Translate_Inline</translate_inline>
                </rewrite>     
            </core>
        </models>
    </global>
    <frontend>
        <routers>
            <livetranslator>
                <use>standard</use>
                <args>
                    <module>Netresearch_Livetranslator</module> 
                    <frontName>livetranslator</frontName>
                </args>
            </livetranslator>
        </routers>
        <layout>
            <updates>
                <livetranslator>
                    <file>livetranslator.xml</file>
                </livetranslator>
            </updates>
        </layout>
        <translate>
            <modules>
                <Netresearch_Livetranslator>
                    <files>
                        <default>Netresearch_Livetranslator.csv</default>
                    </files>
                </Netresearch_Livetranslator>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch> 
                <observers>
                    <livetranslator_disable_cache>
                        <type>singleton</type>
                        <class>livetranslator/observer</class>
                        <method>disableCache</method>
                    </livetranslator_disable_cache>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Netresearch_Livetranslator>
                    <files>
                        <default>Netresearch_Livetranslator.csv</default>
                    </files>
                </Netresearch_Livetranslator>
            </modules>
        </translate>
    </adminhtml>
</config>
