<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <sections>
        <dev>
            <groups>
                <translate_inline>
                    <fields>
                        <enable_inline_translation translate="label">
                            <label>Enabled for current session</label> 
                            <frontend_model>livetranslator/system_config_form_field_linkRenderer</frontend_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_inline_translation> 
                    </fields> 
                </translate_inline>
            </groups> 
        </dev> 
    </sections>
</config>
